.titulo {

    font-size: 76px;
}

.robo-image {

    background-color: red;
    background-size:cover;
    background-position: 0px -100px;
    
    width: 50vw; /*50% da largura do monitor*/
    height: 100vh; /*100% da altura da tela*/


}

.page-container {

    display: flex; /*deixa os elementos um ao lado do outro*/

}

.login-container {

    width: 50vw;
    height: 100vh;

    /*kit de centralizacao*/
    display: flex; /*ativar o flex*/
    flex-direction: column; /*Muda o flex para colunas*/
    align-items: center; /*centralizar horizontalmente*/
    justify-content: center; /*centralizar verticamente*/

}

.login-container img {
    height: 60px;
}
